@import './normalize&reset.scss';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
	--color-bg: #f8f7f1;
	--color-body: #2a2a2a;
	--color-primary: #3e698e;
	--color-secondary: #2a2a2a;
}
.dark-style {
	--color-bg: #1f1f1f;
	--color-body: #f8f4f0;
	--color-primary: #3e698e;
	--color-secondary: #f8f4f0;
}
body {
	background: var(--color-bg);
	color: var(--color-body);
	font-family: "PT Sans", sans-serif;
	font-weight: 400;
	font-style: normal;
}
.switcher {
	display: flex;
	justify-content: flex-end;
	padding: 20px;
}
.btn {
	cursor: pointer;
	svg {
		width: 50px;
		height: 50px;
	}
}

.content {
	padding: 20px;
	h1 {
		font-size: 30px;
		margin-bottom: 15px;
		color: var(--color-primary);
	}
	p {
		color: var(--color-secondary);
		font-size: 18px;
		line-height: 1.5;
	}
}

